name: PR
on: [pull_request]
jobs:
  test:
    name: Build, bench and test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup pnpm
        uses: pnpm/action-setup@v2
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      - name: install dependencies
        run: pnpm install --frozen-lockfile
      - name: typecheck
        run: pnpm typecheck
      - name: bench
        run: pnpm bench
      - name: tests
        run: pnpm test
  
  release_snapshot:
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    name: Release snapshot
    uses: the-guild-org/shared-config/.github/workflows/release-snapshot.yml@main
    with:
      npmTag: alpha
      buildScript: build
      nodeVersion: 20
      packageManager: pnpm
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}
  
  release_candidate:
    uses: the-guild-org/shared-config/.github/workflows/release-snapshot.yml@main
    if: ${{ github.event.pull_request.title == 'Upcoming Release Changes' }}
    with:
      npmTag: rc
      restoreDeletedChangesets: true
      buildScript: build
      nodeVersion: 20
      packageManager: pnpm
    secrets:
      githubToken: ${{ secrets.GUILD_BOT_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}